.logo-container {
    h1 {
        font-size: 30px;
        text-align: center;
    }
}

.step {
    &:before,
    &:after {
        display: none;
    }
    margin: 5px;
    cursor: pointer;
}

.photo-details {
    margin-bottom: 15px;
}